@import url(./font.css);
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header .nav-bar {
  display: flex;
  padding: 36px 0;
  border-bottom: 1px solid #D5DAE3;
}
header .nav-bar .text ul {
  display: flex;
  z-index: 9;
  position: relative;
  margin-left: 46px;
  padding: 0;
  padding-top: 12px;
}
header .nav-bar .text ul li {
  margin-left: 28px;
  text-transform: uppercase;
}
header .nav-bar .text ul li a {
  text-decoration: none;
  color: #465061;
}
header .nav-bar .text ul li:hover a {
  color: #F5B458;
  transition: ease-in-out 0.2s;
}
header .nav-bar .text ul li:hover .dropdown {
  display: block;
}
header .nav-bar .text ul li:nth-child(5) {
  border-right: 1px solid #D5DAE3;
  padding-right: 14px;
}
header .nav-bar .text ul li:nth-child(6) {
  margin-left: 0;
  padding-left: 14px;
}
header .nav-bar .text ul li:nth-child(6):hover #vector {
  transform: rotate(-180deg);
}
header .nav-bar .text ul li:nth-child(7) {
  margin-left: 4px;
  margin-top: -2px;
}
header .nav-bar .text ul li .dropdown {
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  display: none;
}
header .nav-bar .text ul li .dropdown ul {
  margin-left: 0;
  padding-top: 0;
}
header .nav-bar .text ul li .dropdown ul li {
  padding: 8px 40px 8px 20px;
  margin-left: 0;
}
header .nav-bar .text ul li .dropdown ul li a {
  color: #1A2E51;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.56px;
}
header .nav-bar .text ul li .dropdown ul li:hover {
  background-color: #F5B458;
}

.news ul {
  display: flex;
  padding-top: 12px;
  align-items: center;
  padding-left: 0;
  margin: 0;
}
.news ul li {
  margin-right: 5px;
}
.news ul li a {
  color: #B4B8BF;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.92px;
  text-decoration: none;
}
.news ul li:nth-child(2) {
  color: #F5B458;
  transform: rotate(-215deg);
  margin-top: 5px;
}
.news ul #last a {
  color: #F5B458;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.92px;
}

.breaf-top {
  padding-top: 80px;
  padding-bottom: 50px;
}
.breaf-top .left {
  display: flex;
  align-items: center;
}
.breaf-top .left h2 {
  color: #1A2E51;
  font-size: 36px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 2.16px;
  padding-left: 8px;
  margin: 0;
}

.breaf-bottom .row .col-lg-6 .img img {
  padding-top: 20px;
}
.breaf-bottom .row .col-lg-6 .text {
  padding-left: 60px;
  padding-top: 40px;
}
.breaf-bottom .row .col-lg-6 .text h1 {
  color: #465061;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 1.6px;
}
.breaf-bottom .row .col-lg-6 .text p {
  color: #465061;
  font-size: 16px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8px;
  padding-top: 28px;
}

footer {
  background-color: #1A2E51;
  margin-top: 160px;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  padding: 56px 0 48px 0;
}
footer .footer-top .footer-logo img {
  background-color: #1A2E51;
}
footer .footer-top .other-col #first-line {
  padding-bottom: 16px;
}
footer .footer-top .other-col #first-line a {
  color: white;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.84px;
}
footer .footer-top .other-col ul {
  padding-left: 0;
  margin-bottom: 0;
}
footer .footer-top .other-col ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.56px;
}
footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 16px 0;
}
footer .footer-bottom p {
  color: white;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.28px;
  margin: 0;
}
footer .footer-bottom p span {
  color: white;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 26px;
}
footer .footer-bottom .icon a {
  padding: 0 5px;
}/*# sourceMappingURL=breaf.css.map */