// Header

header {
    background-color: #1A2E51;

    .nav-bar {
        display: flex;
        padding-top: 36px;

        .text {
            ul {
                display: flex;
                z-index: 9;
                position: relative;
                margin-left: 46px;
                padding: 0;
                padding-top: 12px;

                li {
                    margin-left: 28px;
                    text-transform: uppercase;

                    a {
                        text-decoration: none;
                        color: white;
                    }

                    &:hover a{
                        color: #F5B458;
                    }

                    &:hover .dropdown{
                        display: block;
                    }

                    &:nth-child(5) {
                        border-right: 1px solid #D5DAE3;
                        padding-right: 14px;
                    }

                    &:nth-child(6) {
                        margin-left: 0;
                        padding-left: 14px;

                        &:hover #vector {
                            transform: rotate(-180deg);
                            transition: ease-in-out .3s;
                        }
                    }

                    .dropdown{
                        background-color: white;
                        position: absolute;
                        z-index: 1;
                        margin-top: 5px;
                        display: none;
                        
                        ul{
                            margin-left: 0;
                            padding-top: 0;
                            

                            li{
                                padding: 8px 40px 8px 20px;
                                margin-left: 0;

                                a{
                                    color: #1A2E51;
                                    font-size: 14px;
                                    font-family: 'Montserrat';
                                    font-weight: 500;
                                    line-height: 28px;
                                    letter-spacing: 0.56px;
                                }

                                &:hover{
                                    background-color: #F5B458;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Header