@import url(./font.css);
@import url(./header.css);

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


// Banner

.banner {
    background-color: #1A2E51;
    height: 744px;
    display: flex;
    align-items: center;

    .row {
        .col-lg-6 {
            .banner-text {
                padding-top: 50px;
                h5 {
                    color: white;
                    font-size: 18px;
                    font-family: "Fira Sans";
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.36px;
                    padding-bottom: 8px;
                }

                h2 {
                    color: white;
                    font-size: 36px;
                    font-family: "Fira Sans";
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 54px;
                    letter-spacing: 2.16px;
                }

                .explore {
                    width: 255px;
                    height: 71px;
                    border: 2px solid #F5B458;
                    text-align: center;
                    margin-top: 48px;

                    p {
                        padding-top: 23px;
                        color: white;
                        font-size: 14px;
                        font-family: "Fira Sans";
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 22px;
                        letter-spacing: 1.40px;
                    }

                    &:hover{
                        background-color: #F5B458;
                    }
                }


                .bottom {
                    display: flex;
                    padding-top: 241px;

                    .left {
                        width: 49px;
                        height: 4px;
                        background-color: #F5B458;
                        border-radius: 0;
                        position: absolute;
                    }

                    .progress {

                        width: 69.23px;
                        height: 4px;
                        background-color: #F5B458;
                        border-radius: 0;
                        margin-left: 25px;
                        opacity: 30%;

                        &:nth-child(2) {
                            margin: 0;
                        }
                    }
                }

            }

            .banner-image {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

// Banner

// Why choose AIC

.why {
    background-color: #FAFAFA;
    padding-top: 80px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            img {
                margin-right: 8px;
            }

            h2 {
                color: #1A2E51;
                font-size: 26px;
                font-weight: 700;
                font-family: "Montserrat";
                text-transform: uppercase;
                line-height: 40px;
                letter-spacing: 1.04px;
                margin-top: 5px;
            }
        }

        .right {
            position: relative;
            a {
                text-decoration: none;
                color: #1A2E51;
                font-size: 14px;
                font-family: Montserrat;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 22px;
                letter-spacing: 1.40px;
                z-index: 9;
                position: relative;

                &:hover {
                    height: 38px;
                }
            }

            span {
                height: 4px;
                width: 142px;
                background-color: #F5B458;
                display: block;
                position: absolute;
                top: 11px;
                left: -3px;
            }
        }
    }

    .bottom{
        padding-top: 56px;
        .row{
            .col-lg-4{
                .up{
                    display: flex;

                    h1{
                        color: #1A2E51;
                        font-size: 18px;
                        font-family: 'Montserrat';
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 26px;
                        letter-spacing: 1.44px;
                        padding: 6px 0 0 16px;
                    }
                }
                
                .down{
                    display: flex;
                    justify-content: center;
                    margin-top: 11px;

                    p{
                        color: #465061;
                        font-size: 16px;
                        font-family: 'Fira Sans';
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0.03px;
                    }
                }
            }
        }
    }
}


// Why choose AIC