@import url(./font.css);
@import url(./header.css);
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.banner {
  background-color: #1A2E51;
  height: 744px;
  display: flex;
  align-items: center;
}
.banner .row .col-lg-6 .banner-text {
  padding-top: 50px;
}
.banner .row .col-lg-6 .banner-text h5 {
  color: white;
  font-size: 18px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.36px;
  padding-bottom: 8px;
}
.banner .row .col-lg-6 .banner-text h2 {
  color: white;
  font-size: 36px;
  font-family: "Fira Sans";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 2.16px;
}
.banner .row .col-lg-6 .banner-text .explore {
  width: 255px;
  height: 71px;
  border: 2px solid #F5B458;
  text-align: center;
  margin-top: 48px;
}
.banner .row .col-lg-6 .banner-text .explore p {
  padding-top: 23px;
  color: white;
  font-size: 14px;
  font-family: "Fira Sans";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 1.4px;
}
.banner .row .col-lg-6 .banner-text .bottom {
  display: flex;
  padding-top: 241px;
}
.banner .row .col-lg-6 .banner-text .bottom .left {
  width: 49px;
  height: 4px;
  background-color: #F5B458;
  border-radius: 0;
  position: absolute;
}
.banner .row .col-lg-6 .banner-text .bottom .progress {
  width: 69.23px;
  height: 4px;
  background-color: #F5B458;
  border-radius: 0;
  margin-left: 25px;
  opacity: 30%;
}
.banner .row .col-lg-6 .banner-text .bottom .progress:nth-child(2) {
  margin: 0;
}
.banner .row .col-lg-6 .banner-image {
  position: absolute;
  top: 0;
  right: 0;
}

.why {
  background-color: #FAFAFA;
  padding-top: 80px;
}
.why .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.why .top .left {
  display: flex;
  align-items: center;
}
.why .top .left img {
  margin-right: 8px;
}
.why .top .left h2 {
  color: #1A2E51;
  font-size: 26px;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 1.04px;
  margin-top: 5px;
}
.why .top .right {
  position: relative;
}
.why .top .right a {
  text-decoration: none;
  color: #1A2E51;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 1.4px;
  z-index: 9;
  position: relative;
}
.why .top .right a:hover {
  height: 38px;
}
.why .top .right span {
  height: 4px;
  width: 142px;
  background-color: #F5B458;
  display: block;
  position: absolute;
  top: 11px;
  left: -3px;
}
.why .bottom .row .col-lg-4 .up {
  display: flex;
}
.why .bottom .row .col-lg-4 .up h1 {
  color: #1A2E51;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 1.44px;
  padding: 6px 0 0 16px;
}
.why .bottom .row .col-lg-4 .down {
  display: flex;
  justify-content: right;
  margin-top: 11px;
}
.why .bottom .row .col-lg-4 .down p {
  color: #465061;
  font-size: 16px;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03px;
}/*# sourceMappingURL=main.css.map */