@import url(./font.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

// Header

header {

    .nav-bar {
        display: flex;
        padding: 36px 0;
        border-bottom: 1px solid #D5DAE3;

        .text {
            ul {
                display: flex;
                z-index: 9;
                position: relative;
                margin-left: 46px;
                padding: 0;
                padding-top: 12px;

                li {
                    margin-left: 28px;
                    text-transform: uppercase;

                    a {
                        text-decoration: none;
                        color: #465061;
                    }

                    &:hover a {
                        color: #F5B458;
                        transition: ease-in-out .2s;
                    }

                    &:hover .dropdown {
                        display: block;
                    }

                    &:nth-child(5) {
                        border-right: 1px solid #D5DAE3;
                        padding-right: 14px;
                    }

                    &:nth-child(6) {
                        margin-left: 0;
                        padding-left: 14px;

                        &:hover #vector {
                            transform: rotate(-180deg);
                        }
                    }

                    &:nth-child(7) {
                        margin-left: 4px;
                        margin-top: -2px;
                    }

                    .dropdown {
                        background-color: white;
                        position: absolute;
                        z-index: 1;
                        margin-top: 5px;
                        display: none;

                        ul {
                            margin-left: 0;
                            padding-top: 0;


                            li {
                                padding: 8px 40px 8px 20px;
                                margin-left: 0;

                                a {
                                    color: #1A2E51;
                                    font-size: 14px;
                                    font-family: 'Montserrat';
                                    font-weight: 500;
                                    line-height: 28px;
                                    letter-spacing: 0.56px;
                                }

                                &:hover {
                                    background-color: #F5B458;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Header

// News

.news {
    ul {
        display: flex;
        padding-top: 12px;
        align-items: center;
        padding-left: 0;
        margin: 0;

        li {
            margin-right: 5px;

            a {
                color: #B4B8BF;
                font-size: 12px;
                font-family: 'Montserrat';
                font-weight: 600;
                text-transform: uppercase;
                line-height: 20px;
                letter-spacing: 1.92px;
                text-decoration: none;
            }

            &:nth-child(2) {
                color: #F5B458;
                transform: rotate(-215deg);
                margin-top: 5px;
            }
        }

        #last {
            a {
                color: #F5B458;
                font-size: 12px;
                font-family: 'Montserrat';
                font-weight: 600;
                text-transform: uppercase;
                line-height: 20px;
                letter-spacing: 1.92px;
            }
        }
    }
}

// News

// Project-top

.project-top {
    display: flex;
    padding-top: 80px;
    padding-bottom: 70px;
    align-items: center;
    justify-content: space-between;

    .row {
        .col-lg-8 {
            display: flex;
            align-items: center;

            h2 {
                color: #1A2E51;
                font-size: 36px;
                font-family: 'Montserrat';
                font-weight: 700;
                text-transform: uppercase;
                line-height: 54px;
                letter-spacing: 2.16px;
                padding-left: 8px;
                margin: 0;
            }
        }

        .col-lg-4{
            display: flex;
            align-items: center;
            justify-content: space-between;

            a{
                text-decoration: none;
                color: #1A2E51;
                font-size: 16px;
                font-family: 'Montserrat';
                font-weight: 700;
                text-transform: uppercase;
                line-height: 24px;
                letter-spacing: 0.96px;

                &:first-child{
                    background-color: #F5B458;
                }
            }
        }
    }

}

// Project-top

// Project

.project{
    .row {

        .col-lg-6 {
            padding: 0 40px;

            .kart {

                img {
                    width: 100%;
                    position: relative;
                }

                p {
                    color: black;
                    font-size: 20px;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    line-height: 30px;
                    word-wrap: break-word;
                    text-align: center;
                    padding-top: 16px;
                    margin: 0;
                }

                &:hover {
                    transition: ease-in-out .3s;

                    #first {
                        display: inline-block;
                        width: 490px;
                        height: 321px;
                        background-color: black;
                        opacity: 30%;
                        position: absolute;
                        z-index: 1;
                        left: 145px;
                    }

                    #second {
                        display: inline-block;
                        width: 490px;
                        height: 319px;
                        background-color: black;
                        opacity: 30%;
                        position: absolute;
                        z-index: 1;
                        right: 144px;
                    }
                }
            }

            &:nth-child(3){
                padding-top: 48px;
            }

            &:nth-child(4){
                padding-top: 48px;
            }
        }
    }
}

// Project

// Footer

footer {
    background-color: #1A2E51;
    margin-top: 160px;

    .footer-top {
        display: flex;
        justify-content: space-between;
        padding: 56px 0 48px 0;

        .footer-logo {
            img {
                background-color: #1A2E51;
            }
        }

        .other-col {

            #first-line {
                padding-bottom: 16px;

                a {
                    color: white;
                    font-size: 14px;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    text-transform: uppercase;
                    line-height: 24px;
                    letter-spacing: 0.84px;
                }
            }

            ul {
                padding-left: 0;
                margin-bottom: 0;

                li {

                    a {
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.87);
                        font-size: 14px;
                        font-family: 'Montserrat';
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0.56px;
                    }
                }
            }
        }
    }

    .footer-line{
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.50);
        position: absolute;
        left: 0;
    }

    .footer-bottom{
        display: flex;
        justify-content: space-between;
        padding: 16px 0;

        p{
            color: white;
            font-size: 14px;
            font-family: 'Montserrat';
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.28px;
            margin: 0;

            span{
                color: white;
                font-size: 14px;
                font-family: 'Montserrat';
                font-weight: 700;
                line-height: 26px;
            }
        }

        .icon{
            a{
                padding: 0 5px;
            }
        }
    }
}

// Footer